.hvv-map-container {
  width: 61%;
  max-width: 1000px;
  height: calc(60% - 10px);
  overflow: hidden;
  position: relative;
}

.map {
  width: 100%;
  height: 100%;
  scale: 1.2;
  object-fit: cover;
  position: absolute;
}

.sbahn-logo {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 5%;
  left: 0;
  z-index: 2;
  mix-blend-mode: multiply;
}

div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  postion: relative;
  flex-direction: column;
}

div.controls {
  height: calc(40% - 10px);
  display: flex;
  flex-direction: column;
  background: #008D4F;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  position: relative;
  gap: 10px;
  width: 60%;
}

div.controls-row {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 200px;
}

.start-end-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #009D58;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  gap: 10px;
}

.start-end-deco {
  width: 20px;
  height: calc(100% - 20px);
  background: white;
  border-radius: 50px;
}

.start-end-fields-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start-end-field {
  width: 300px;
  height: 40px;
  margin: 10px;
  border-radius: 50px;
  border: 0px;
  padding-left: 16px;
  font-size: 16px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
  font-weight: 600;
}

.previous-trips-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  width: 500px;
}

.not-logged-in {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  gap: 20px;
}

.past-trips {
  color: white;
  width: 100%;
  height: 100%;
}

.past-trips-card-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow: auto;
  height: 120px;
}

.past-trip-card {
  background: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 8px;
  color: black;
  border: 2px solid transparent;
}

.past-trip-card:hover {
  background: #f0f0f0;
  border: 2px solid black;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.not-logged-in p {
  color: white;
  opacity: 0.75;
  font-weight: 900;
  font-size: 26px;
  text-align: center;
  margin: 0;
}

.not-logged-in button {
  background: white;
  font-weight: 900;
  font-size: 26px;
  text-align: center;
  border: 0px;
  border-radius: 10px;
  padding: 10px 50px;
  margin-bottom: 10px;
}

.not-logged-in button:hover {
  background: #f0f0f0;
}

.not-logged-in button:active {
  background: #e0e0e0;
}

.journey-map-container {
  height: 200px;
  width: 100%;
  display: flex;
  background: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.journey-map-container h1 {
  opacity: 0.5;
  font-size: 44px;
}

.route {
  transform: rotate(270deg);
}

.station {
  display: flex;
  align-items: center;
  gap: 10px;
}

.station-notch {
  width: 11px;
  height: 15px;
  position: relative;
}

.station-notch::before {
  content: '';
  width: 20px;
  height: 13px;
  position: absolute;
  top: -13px;
  background: inherit;
}

.station-notch::after {
  content: '';
  width: 20px;
  height: 13px;
  position: absolute;
  bottom: -13px;
  background: inherit;
}

.station-name {
  padding: 10px 0px;
  transform: rotate(10deg) translate(7px, 5px);
}

.bg-s1 {
  background: #009D58;
}

.bg-s2 {
  background: #B81842;
}

.bg-s3 {
  background: #6A2B87;
}

.bg-s5 {
  background: #0A85B6;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.login-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.login-modal {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-modal input {
  padding: 10px;
  font-size: 16px;
  margin: 7px 0px;
}

.login-modal button {
  padding: 10px;
  font-size: 16px;
  background: #009D58;
  color: white;
  border: 0px;
  border-radius: 10px;
}

.login-modal button:hover {
  background: #008D4F;
}

.login-modal button:active {
  background: #007D40;
}

.logout-button {
  background: #B81842;
  color: white;
  border: 0px;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  top: 30px;
  right: 10px;
  position: absolute;
}

.logout-button:hover {
  background: #A80832;
}

.logout-button:active {
  background: #970822;
}